* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body{
  overflow-x: hidden;
}

/* Stylish scrollbar end */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Stylish scrollbar end */

/* Navbar start */
.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0;
  margin-left: 0;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

/* Navbar end */

/* Card start */
.card-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 32px;
}

/* Ott card Start */
.ott__card {
  position: relative;
  width: 240px;
  flex-shrink: 0;
  aspect-ratio: 2/3;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-inline-end: 20px;
}

.ott__card img {
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card__image {
  width: 100%;
  height: 100%;
}

.ott__card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  perspective: none;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
}

.ott__card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 20px;
  color: #333;
  font-weight: 700;
}

.ott__card:hover img {
  scale: 0;
}

.card__description,
.card__genre,
.card__release-date {
  font-size: 12px;
  color: #777;
  line-height: 1.4;
}

.card__description {
  overflow-y: auto;
}
/* Card end */

.highlight-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #b9b9b9;
  position: relative;
}

.highlight-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.movie-info {
  max-width: 600px;
  margin-right: 50px;
}

.movie-title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.movie-description {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.watch-now-btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.watch-now-btn:hover {
  background-color: #f40612;
}

.movie-poster img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.subscribe-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff4c4c;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.subscribe-btn:hover {
  background-color: #e74343;
}

/* Footer start */
footer {
  background-color: #1c1c1c;
  color: #ffffff;
  padding: 40px 0;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons li {
  list-style: none;
}

.social-icons img {
  width: 24px;
  height: 24px;
}
.about-section {
  padding: 60px 20px;
  background-color: #ffffff;
}

/* Fotter end */

/* Style the container for mobile */
@media (max-width: 576px) {
  .contact-section {
    padding: 1rem;
  }
}

.text-pretty {
  white-space: pre-wrap;
}

/* Ott card end */

body > main > section {
  padding-bottom: 20px;
}
.slider-animated {
  height: 100vh;
}
/* For tablet */
@media screen and (max-width: 768px) {
  .slider-animated {
    height: 400px;
  }
}

/* For mobile */
@media screen and (max-width: 400px) {
  .slider-animated {
    height: 300px;
  }
}
